celery
celery-slack
click
click-spinner
environ-config
Flask-Celery-py3
flask_pymongo
flask_restful
future
geojson
mapchete>=0.31
mongomock
pymongo
requests
slacker
tornado>=4.2.0,<6.0.0
webargs>=6.0.0,<7.0.0
xarray
