bokeh
blosc
dask==2023.5.0
dask-gateway==2022.11.0
dask-gateway-server==2022.11.0
dask-kubernetes==2022.12.0
distributed==2023.5.0
eox_preprocessing==2023.7.0
fastapi==0.87.0
lz4
mapchete==2023.7.0
mapchete_satellite[brdf,cli,stac]==2023.5.5
mapchete_xarray==2022.10.0
mongomock
odmantic
orgonite>=2021.11.0
planet-signals-generation>=2022.10.3
prometheus-client
pymongo
s2brdf==2023.1.0
Slacker
sqlalchemy
uvicorn