bokeh
blosc
dask==2023.7.0
dask-gateway==2023.1.1
dask-gateway-server==2023.1.1
dask-kubernetes==2023.7.2
distributed==2023.7.0
eox_preprocessing==2023.7.3
fastapi==0.100.0
lz4
mapchete==2023.7.1
mapchete_satellite[brdf,cli,stac]==2023.6.1
mapchete_xarray==2022.10.0
mongomock
odmantic
orgonite>=2021.11.0
planet-signals-generation>=2022.10.3
prometheus-client
pymongo
s2brdf==2023.1.0
Slacker
sqlalchemy
uvicorn