aiohttp
bokeh
blosc
eox_preprocessing==2023.12.0
dask==2023.12.0
dask-gateway==2023.9.0
dask-gateway-server==2023.9.0
dask-kubernetes==2023.10.0
distributed==2023.12.0
fastapi==0.104.1
httpx
jupyter-server-proxy
lz4
mapchete==2024.5.0
mapchete_eo==2024.5.5
mapchete_xarray==2022.10.0
mongomock
orgonite==2023.10.0
prometheus-client
pydantic>=2.0.0
pymongo
slack_sdk
sqlalchemy
uvicorn